<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <h1>Change Profile</h1>

    <form method="POST" action="/profile">
        <label>New First name:</label><br>
        <input type="text" name="first_name" placeholder="First name"><br><br>

        <label>New Last name:</label><br>
        <input type="text" name="last_name" placeholder="Last name"><br><br>

        <label>New password:</label><br>
        <input type="password" name="password" placeholder="New password"><br><br>

        <button type="submit">Save</button>
    </form>

    <p><a href="/">Return</a></p>
</body>
</html>
